/* *{ RESETting the page's marg and padd
    margin: 0;
    padding: 0;
} */

body{
    background-color: #f5f5f5;
    color: #555;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
   /* font: 16px arial, helvetica, sans-serif normal; */
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: yellow;
}

a:active{
    color: aqua;
}

/*a:visited{
    color: black;
}*/

.container{
    width: 80%; /*use % on containers to make it responsive*/
    margin: auto; /*sets auto even margin(spacing around an element) on all sides */
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}

.button:hover{
    background-color: blue;
    color: #fff;
}

.clr{
    clear:both; /*clears any floats(class block) above it*/
}

.box-1{
    background-color: #333;
    color: #fff; /*text color*/
   /* border-right: 5px red solid;
    border-left: 5px blue solid;
    border-top: 5px green solid;
    border-bottom: 5px yellow solid; */
    
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted; /*above gets overwritten by next line*/

    border: 5px red solid;

    padding: 20px; /*can be oadding-left/right/bottom/top*/

    margin-top: 20px; /*space outside border. BOX MODEL: content->padding->border->margin*/
    margin:20px 0; /*tt&b gets 20 r&l gets 0*/
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border: 3px dotted #ccc;
    padding:20px;
    margin: 20px 0;
}

.categories{
    border: 2px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
      text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}

.categories li{
    padding-bottom: 5px;
    border-bottom: 1px dotted #333;
   /* list-style-image: url('./images/brah.jpg'); */ /*to create bullet point from desired image*/
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{ /*floating h3s side by side*/
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /*takes padding+border into width*/
}

#main-block{
    float: left;
    width: 70%;
     padding: 15px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url('./images/images.jfif'); /*image as backgrond*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 800px 500px;
}

.p-box h1{
    position: absolute;
    top: 40px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.my-list li:first-child{ /*sudo class*/
    background: red;
}

.my-list li:last-child{ /*sudo class*/
    background: blue;
}

.my-list li:nth-child(5){ /*sudo class*/
    background: yellow;
}

.my-list li:nth-child(even){ /*sudo class*/
    background: green;
}